@tailwind base;
@tailwind components;
@tailwind utilities;

.mi-list{
    padding: 0;
}
.mi-list .list-item{
    border-bottom: 2px solid #e3e3e3;
    padding: 10px 10px;
    display: inline-flex;
    width: 100%;
}

.mi-list .list-item:hover{
    background: #f1f1f1;
}

